@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300;400;500;700;900&display=swap');

@font-face {
  font-family: 'Seowoo';
  src: url('fonts/Seowoo.eot');
  src: url('fonts/Seowoo.eot?#iefix') format('embedded-opentype'),
    url('fonts/Seowoo.woff') format('woff'),
    url('fonts/Seowoo.woff2') format('woff2'),
    url('fonts/Seowoo.ttf') format('truetype'),
    url('fonts/Seowoo.svg#Seowoo') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Zen Kaku Gothic New', sans-serif;
  margin-left: 20px;
  text-align: left;
}

h1 {
  font-family: 'Seowoo', sans-serif;
  font-size: medium;
  margin-top: 20px;
  margin-left: 20px;
}

p {
  font-family: 'Zen Kaku Gothic New', sans-serif;
  font-size: medium;
  margin-left: 20px;
}

/* unvisited link */
a:link {
  color: black;
  cursor: pointer;
}

/* visited link */
a:visited {
  color: black;
  cursor: pointer;
}

/* mouse over link, selected link */
a:hover,
a:active {
  color: black;
  text-decoration: underline;
  background-color: #E26039;
  cursor: pointer;
}

a.title {
  font-family: 'Seowoo', sans-serif;
  color: black;
  font-size: 1.5em;
  margin-top: 20px;
}

.colordot {
  background-color: #E26039;
  border: 0.1em solid #FFFFFF;
  border-radius: 50%;
  height: 2em;
  width: 2em;

}

.firstdot {
  position: relative;
  margin-top: 1.5em;
  margin-bottom: 1em;

}

.seconddot {
  left: 2.5em;
  position: absolute;
}

.thirddot {
  left: 3.75em;
  position: absolute;
}

.fourthdot {
  left: 5em;
  position: absolute;
}

.fifthdot {
  left: 6.25em;
  position: absolute;
}

button {
  border: none;
  font-family: 'Seowoo', sans-serif;
  color: white;
  padding: 10px 18px;
  text-align: center;
  border-radius: 30px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid #E26039;
}

.button1:hover {
  background-color: #E26039;
  color: white;
}

.button2 {
  background-color: white;
  color: black;
  border: 2px solid #514643;
}

.button2:hover {
  background-color: #514643;
  color: white;
}