@font-face {
    font-family: 'Zen Kaku';
    font-weight: normal;
    font-style: normal;
    src: url('ZenKakuGothicNew-Regular.ttf')  format('truetype');
}

body {
    font-family: 'Zen Kaku Gothic New', sans-serif;
    margin-left: 20px;
    text-align: left;
}

h1 {
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-size: small;
    margin-top: 20px;
    margin-left: 20px;
}

p {
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-size: large;
    margin-left: 20px;
}

/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link, selected link */
a:hover, a:active {
  color: black;
  text-decoration: underline;
  background-color: #E26039;
}
