@font-face {
    font-family: 'Zen Kaku';
    font-weight: normal;
    font-style: normal;
    src: url('ZenKakuGothicNew-Regular.ttf')  format('truetype');
}

@font-face {
    font-family: 'Seowoo';
    src: url('../seowoonam/Seowoo.eot');
    src: url('../seowoonam/Seowoo.eot?#iefix') format('embedded-opentype'),
    url('../seowoonam/Seowoo.woff2') format('woff2'),
    url('../seowoonam/Seowoo.woff') format('woff'),
    src: url('../seowoonam/Seowoo.ttf')  format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Zen Kaku Gothic New', sans-serif;
    margin-left: 20px;
    text-align: left;
}

h1 {
    font-family: 'Seowoo', sans-serif;
    font-size: medium;
    margin-top: 20px;
    margin-left: 20px;
}

p {
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-size: large;
    margin-left: 20px;
}

/* unvisited link */
a:link {
  color: black;
  cursor: pointer;
}

/* visited link */
a:visited {
  color: black;
  cursor: pointer;
}

/* mouse over link, selected link */
a:hover, a:active {
  color: black;
  text-decoration: underline;
  background-color: #E26039;
  cursor: pointer;
}

a.title {
    font-family: 'Seowoo', sans-serif;
    font-size: large;
    margin-top: 20px;
    margin-left: 20px;
    text-decoration: underline;
}
    
