@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300;400;500;700;900&display=swap');

@font-face {
  font-family: 'Seowoo';
  src: url('fonts/Seowoo.eot');
  src: url('fonts/Seowoo.eot?#iefix') format('embedded-opentype'), url('fonts/Seowoo.woff') format('woff'),
    url('fonts/Seowoo.woff2') format('woff2'), url('fonts/Seowoo.ttf') format('truetype'),
    url('fonts/Seowoo.svg#Seowoo') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Zen Kaku Gothic New', sans-serif;
  margin-left: 20px;
  text-align: left;
}

h1 {
  font-family: 'Seowoo', sans-serif;
  font-size: medium;
  margin-top: 20px;
  margin-left: 20px;
}

p {
  font-family: 'Zen Kaku Gothic New', sans-serif;
  font-size: medium;
}

p.title {
  padding-top: 0%;
  font-family: 'Seowoo', sans-serif;
  font-size: 16px;
  line-height: 140%;
}

/* unvisited link */
a:link {
  font-family: 'Zen Kaku Gothic New', sans-serif;
  color: black;
  cursor: pointer;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

/* mouse over link, selected link */
a:hover,
a:active {
  color: black;
  background-color: #e26039;
  cursor: pointer;
  text-decoration: none;
}

div.title {
  font-family: 'Seowoo', sans-serif;
  color: black;
  font-size: 1.5em;
  margin-top: 14px;
  text-decoration: none;
  user-select: none;
}

.hide {
  display: none;
  width: 320px;
}

div.title:hover + .hide {
  display: inline-block;
  color: #e26039;
}

div.title:hover {
  cursor: pointer;
}

.colordot {
  background-color: #e26039;
  border: 0.1em solid #ffffff;
  border-radius: 50%;
  height: 2em;
  width: 2em;
}

.firstdot {
  position: relative;
}

.seconddot {
  left: 1.25em;
  position: absolute;
}

.thirddot {
  left: 2.5em;
  position: absolute;
}

.fourthdot {
  left: 3.75em;
  position: absolute;
}

.fifthdot {
  left: 5em;
  position: absolute;
}

a.button {
  border: none;
  border-radius: 30px;
  font-family: 'Seowoo', sans-serif;
  padding: 10px 18px 7.25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px;
  transition-duration: 0.4s;
  cursor: pointer;
}

a.filterbutton {
  border: none;
  border-radius: 30px;
  font-family: 'Seowoo', sans-serif;
  padding: 10px 18px 7.25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: rgb(81, 70, 67);
  color: white;
}

a.orangebutton {
  background-color: white;
  color: black;
  border: 2px solid #e26039;
}

a.orangebutton:hover {
  background-color: #e26039;
  color: white;
}

a.orangetransparentbutton {
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
  border: 2px solid #e26039;
}

a.orangetransparentbutton:hover {
  background-color: #e26039;
  color: white;
}

a.graybutton {
  background-color: white;
  color: black;
  border: 2px solid #514643;
}

a.graybutton:hover {
  background-color: #514643;
  color: white;
  border: none;
}

#contentcard {
}

.box {
  border-radius: 15px;
  width: 300px;
  color: white;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 16px 0 rgba(0, 0, 0, 0.15);
  position: absolute;
  user-select: none;
}

.box img {
  vertical-align: bottom;
  border-radius: 15px;
}

@media only screen and (max-width: 768px) {
  .box {
    border-radius: 5px;
    width: 100%;
    color: white;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 16px 0 rgba(0, 0, 0, 0.15);
    position: absolute;
    user-select: none;
  }

  .box img {
    vertical-align: bottom;
    border-radius: 5px;
    width: 100%;
  }
}

.gray {
  padding: 20px 15px;
  padding-top: 3px;
  background-color: #514643;
}

.orange {
  padding: 25px 15px;
  padding-top: 3px;
  background-color: #e26039;
}

.close {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 0%;
  padding: 12px 16px;
  transform: translate(0%, -50%);
}

/* .workcard {
}

.experimentcard {
}

.writingcard {
} */

.coordinates {
  z-index: -100;
}
p.topverticalaxis {
  writing-mode: vertical-lr;
  position: absolute;
  top: 10px;
  margin-left: 38px;
  font-family: 'Seowoo', sans-serif;
  font-size: 16px;
}

p.bottomverticalaxis {
  writing-mode: vertical-lr;
  position: absolute;
  bottom: 10px;
  margin-left: 38px;
  font-family: 'Seowoo', sans-serif;
  font-size: 16px;
}

p.lefthorizontalaxis {
  writing-mode: horizontal-tb;
  position: absolute;
  left: 10px;
  margin-top: 12px;
  font-family: 'Seowoo', sans-serif;
  font-size: 16px;
}

p.righthorizontalaxis {
  writing-mode: horizontal-tb;
  position: absolute;
  right: 10px;
  margin-top: 12px;
  font-family: 'Seowoo', sans-serif;
  font-size: 16px;
}

.coordinates {
  margin-top: 1.5em;
  position: relative;
  text-align: center;
  user-select: none;
}

div.line {
  padding: 36% 48%;
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  user-select: none;
}

.horizontal {
  background-image: linear-gradient(to right, #514643 50%, rgba(81, 70, 67, 0) 0%);
  background-position: center;
  background-size: 7px 1.5px;
  background-repeat: repeat-x;
  display: inline;
}

.vertical {
  background-image: linear-gradient(to bottom, #514643 50%, rgba(81, 70, 67, 0) 0%);
  background-position: center;
  background-size: 1.5px 7px;
  background-repeat: repeat-y;
  display: inline;
}

/* Positioning each Project Card */
#ei_2021 {
  position: absolute;
  top: 40%;
  left: 45%;
  z-index: -1;
}

#rm_2022 {
  top: 40%;
  left: 10%;
  z-index: -2;
}

#seoul_food_metro {
  position: absolute;
  top: 65%;
  left: 50%;
  z-index: -2;
  width: 320px;
}

a.box_link:visited,
a.box_link:hover,
a.box_link:active {
  color: white;
  background-color: transparent;
}

#green_urban_scenarios {
  position: absolute;
  top: 16%;
  left: 60%;
  z-index: -2;
  width: 320px;
}
